<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     
    </button>
    <a routerLink="/" style="text-decoration:none; color:white">Angular CRUD</a>
    <a routerLink="/about" style="margin-left: 20px; text-decoration:none; color:white">About</a>
    <a routerLink="/contact" style="margin-left: 20px; text-decoration:none; color:white">Conatct</a>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>

  </mat-toolbar>
</div>
<router-outlet></router-outlet>